*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.sidebar{
    width: 180px;
    min-height: 100vh;
    background-color: #111827;
    color: #9ca3af;
    display: flex;
    align-items: center;
    flex-direction: column;
    .top,
    .center,
    .bottom{
        width: 80%;
        padding: 10px 0;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #4b4b4b;
    }
    .top{
        .fa-sketch{
            font-size: 24px;
            margin-right: 10px;
            cursor: pointer;
            padding-left: 10px;
        }
        .brand{
            font-weight: bold;
            cursor: pointer;
        }
    }
    .center{
        .list{
            list-style: none;
            padding: 0;
            width: 100%;
            .item{
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                padding: 10px;
                border-radius: 10px;
                i{
                    width: 30px;
                    font-size: 20px;
                }
                &:hover,
                &.active{
                    background-color: #374151;
                    color: white;
                }
            }
        }
    }
    .bottom{
        border: none;
        justify-content: center;
        .box{
            width: 20px;
            height: 20px;
            border: 1px solid rgb(202, 191, 191);
            border-radius: 5px;
            cursor: pointer;
            margin-right: 15px;
        }
        .dark{
            background-color: #111827;
        }
        .night{
            background-color: #312e81;
        }
        .light{
            background-color: #f3f4f6;
        }
    }
}

@media only screen and (max-width: 768px) {
    .sidebar{
        width: 50px;
        .brand,
        .item-text{
            display: none;
        }
        .bottom{
            flex-direction: column;
            .box{
                margin-bottom: 8px;
                margin-right: 0;
            }
        }
    }
}


.sidebar{
    &.night{
        background-color: #312e81;
        color: #b4bbc7;
        .center{
            .list{
                .item{
                    &:hover,
                    &.active{
                        background-color: #4338ca;
                    }
                }
            }
        }
    }
}


.sidebar{
    &.light{
        background-color: #f3f4f6;
        color: #111827;
        .center{
            .list{
                .item{
                    &:hover,
                    &.active{
                        background-color: #d1d5db;
                        color: #111827;
                    }
                }
            }
        }
    }
}
